<div id="body">
  <div style="background-image: url('assets/hotelSlike/pexels-pixabay-258154.jpg')" id="background">
    <div id="background-text"  style="padding-top: 30px">
      <h1>Hotel Leo</h1>
      <h3>Vaše mjesto za odmor</h3>
      <div style="text-align: center; margin-top: 20px">
        <a title="Pogledajte ponudu soba" class="btn btn-primary">Pregledaj sobe</a>
      </div>
      <div style="text-align: center; margin-top: 20px">
        <p>Hotel "Leo" predstavlja vrhunac luksuznog smještaja, gdje se elegancija i udobnost susreću s besprijekornom uslugom. Smješten u srcu grada, ovaj hotel je oaza mira za putnike koji traže ekskluzivno iskustvo. Svaka soba je dizajnirana s pažnjom na detalje, nudeći prostrane krevete, modernu tehnologiju i panoramski pogled na gradsku siluetu.
          Gosti mogu uživati u gurmanskim jelima u našem restoranu na krovu, opustiti se u spa centru svjetske klase ili se osvježiti u beskrajnom bazenu s pogledom na zvjezdano nebo. <br><b>Hotel "Leo" nije samo mjesto za boravak, već destinacija koja obogaćuje vaše putovanje nezaboravnim uspomenama. <br>Dobrodošli u hotel gdje se luksuz susreće s domaćinskom toplinom. <br>Dobrodošli u hotel "Leo".</b></p>
      </div>
    </div>
  </div>
</div>
