<h1>Nije dostupno</h1>

<!--<div id="body">-->
<!--  <div id="slika">-->
<!--    <img src="favicon.ico" alt="">-->
<!--    <h6><1/12></h6>-->
<!--  </div>-->
<!--  <div id="opce-informacije">-->
<!--    <h4>Općenito</h4>-->
<!--    <label for="opce-informacije-naziv">Naziv:</label>-->
<!--    <input type="text" id="opce-informacije-naziv">-->
<!--    <label for="opce-informacije-detaljno">Naziv:</label>-->
<!--    <input type="text" id="opce-informacije-detaljno" aria-multiline="true">-->
<!--  </div>-->
<!--  <div id="cijena">-->
<!--    <h4>Cijena</h4>-->
<!--    <label for="cijena-za-4">Cijena za 4 osobe:</label>-->
<!--    <input type="number" id="cijena-za-4">-->
<!--    <label for="cijena-za-3">Cijena za 3 osobe:</label>-->
<!--    <input type="number" id="cijena-za-3">-->
<!--    <label for="cijena-za-2">Cijena za 2 osobe:</label>-->
<!--    <input type="number" id="cijena-za-2">-->
<!--    <label for="cijena-za-1">Cijena za 1 osobu:</label>-->
<!--    <input type="number" id="cijena-za-1">-->
<!--    <label for="cijena-za-djecu">Osobe do koliko godina se smatraju djecom:</label>-->
<!--    <input type="number" id="cijena-za-djecu">-->
<!--  </div>-->

<!--  <div id="kreveti">-->
<!--    <h4>Kreveti</h4>-->
<!--    <label for="broj-kreveta-1">Broj bračnih kreveta:</label>-->
<!--    <input type="number" id="broj-kreveta-1">-->
<!--  </div>-->

<!--  <div id="ostalo">-->
<!--    <h4>Ostalo</h4>-->
<!--    <div style="margin-bottom: 5px">-->
<!--      <input type="checkbox" class="form-check form-check-input form-check-inline" id="besplatno-otkazivanje" title="Da li želite besplatno otkazivanje?">-->
<!--      <label for="besplatno-otkazivanje" class="form-check-label">Besplatno otkazivanje</label>-->
<!--    </div>-->
<!--    <div style="display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; gap: 5px">-->
<!--      <div>-->
<!--        <input type="checkbox" class="form-check form-check-input form-check-inline" id="klima" title="Da li želite sobu s klimom?">-->
<!--        <label for="klima" class="form-check-label">Klima</label>-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="form-check form-check-input form-check-inline" id="teretana" title="Da li želite sobu s pristupom teretani?">-->
<!--        <label for="teretana" class="form-check-label">Teretana</label>-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="form-check form-check-input form-check-inline" id="bazen" title="Da li želite sobu s pristupom bazenu?">-->
<!--        <label for="bazen" class="form-check-label">Bazen</label>-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="form-check form-check-input form-check-inline" id="spa" title="Da li želite sobu s pristupom spa centru?">-->
<!--        <label for="spa" class="form-check-label">Spa</label>-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="form-check form-check-input form-check-inline" id="balkon" title="Da li želite sobu s pristupom balkonu?">-->
<!--        <label for="balkon" class="form-check-label">Balkon</label>-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="form-check form-check-input form-check-inline" id="dozvoljeni-ljubimci" title="Da li želite sobu u kojoj su dozvoljeni ljubimci?">-->
<!--        <label for="dozvoljeni-ljubimci" class="form-check-label">Dozvoljeni ljubimci</label>-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="form-check form-check-input form-check-inline" id="prilagodjeno-invalidima" title="Da li želite sobu koja je prilagođena invalidima?">-->
<!--        <label for="prilagodjeno-invalidima" class="form-check-label">Prilagođeno invalidima</label>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div id="aranzmani">-->
<!--    <h4>Aranžmani</h4>-->
<!--    <div id="naziv-aranzmana">-->
<!--      <h6>Aranžman:</h6>-->
<!--      <label for="aranzman-1">All-inclusive:</label>-->
<!--      <input type="number" id="aranzman-1">-->
<!--    </div>-->
<!--    <h6>Doplata:</h6>-->
<!--    <input type="number" id="doplata-1">-->
<!--    <label for="doplata-1">%</label>-->
<!--  </div>-->
<!--  <div id="spremi-otkazi">-->
<!--    <a>Otkazi</a>-->
<!--    <a>Spremi</a>-->
<!--  </div>-->
<!--</div>-->
