input, select, textarea {
  background-color: darkgray;
}

.form-control {
  width: 70%;
}

#body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, fit-content(100%));
  grid-gap: 10px;
  padding: 10px;
  padding-top: 0;
  max-height: 74vh;
  overflow-y: scroll;
}

div * {
  margin-top: 10px;
}

#slika {
  grid-column-start: 1;
  grid-column-end: 2;
}

#slika div h6 {
  display: inline;
  font-size: xx-large;
}

.slika-strelica:hover {
  font-weight: bolder;
}

.slika-strelica {
  cursor: pointer;
}

#slika img {
  display: block;
  object-fit: contain;
  width: 500px;
  height: 328px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#opce-informacije {
  width: 70%;
  margin-left: 10%;
}

#opce-informacije * {
  display: block;
  width: 100%;
}

#opce-informacije-naziv {
  text-align: center;
}

#opce-informacije-detaljno {
  min-height: 280px;
  max-height: 280px;
}

#rezervacija {
  display: flex;
  flex-wrap: wrap;
}

#rezervacija-period, #rezervacija-za-osoba, #rezervacija-aranzman, #rezervacija-cijena {
  width: 50%;
}

#rezervacija-cijena h1 {
  display: inline;
}

#rezervacija-button, #rezervacija-button a {
  width: 90%;
  text-align: center;
}

#soba-posjeduje {
  width: 100%;
  grid-column: 1;
  display: flex;
  justify-content: normal;
  gap: 20px;
  flex-wrap: wrap;
}

#kreveti {
  margin-left: 20px;
}

.krevet-item {
  display: flex;
  gap: 10px;
}

label, input, a, select {
  cursor: pointer;
}

textarea {
  cursor: default;
}

.form-check {
  cursor: default;
}

.form-control-number {
  cursor: text;
}

#slika-modal-div {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
}

#slika-modal-div img {
  width: 80vw;
  height: 60vh;
}

#slika-modal-div .modal-content {
  height: 100vh;
  margin-top: 0px;
}

#slika-modal-div .modal-body h6 {
  font-size: xxx-large;
}

#slika-modal-div .modal-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

#slika-modal-div .modal-body div {
  width: 100%;
}

#slika-modal-div .modal-body div h6 {
  display: inline;
}

