<h2>Dobrodošli nazad, ulogujte se</h2>
<form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="email">Email</label>
    <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="email" type="email"/>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="lozinka">Lozinka</label>
    <input [(ngModel)]="lozinka" [ngModelOptions]="{standalone: true}" class="form-control" id="lozinka"
           type="password"/>
  </div>


  <!-- Submit button -->
  <button (click)="ulogujSe()" class="btn btn-primary btn-block mb-4" id="login-btn" title="Ulogujte se" type="button">
    Uloguj se
  </button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Nemate račun? <a (click)="navigator.navigiraj('registracija')" class="link">Registrujte se</a></p>
  </div>
</form>
