form {
  display: block;
  width: 30vw;
  margin-left: 35vw;
  margin-right: 35vw;
}
#login-btn {
  margin-left: 80%;
  width: 20%;
}
input {
  cursor: text;
}
h2 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: "Arial Rounded MT Bold";
}
