/* You can add global styles to this file, and also import other style files */
body {
  background-color: darkgray;
  overflow-y: hidden;
}

label, select, a, .form-check-input, input{
  cursor: pointer;
}

textarea, .form-control-number {
  cursor: text;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
