header {
  padding: 3px;
  margin: 3px 3px 0 3px;
}

#wrapper {
  padding: 3px;
  margin: 0 3px 3px 3px;
  display: flex;
  justify-content: space-around;
  overflow-y: hidden;
}

#breadcrumb {
  padding: 12px 0 0 10px;
}

#informacije {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

nav {
  margin-bottom: 10px;
}

#lijevi-panel {
  display: inline;
  width: 30%;
}

.lijevi-panel-button {
  cursor: pointer;
}

#desni-panel {
  display: inline;
  width: 70%;
}

#lijevi-panel-pretraga, #lijevi-panel-filtriranje {
  padding: 5px;
}

#desni-panel {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: fit-content;
  max-height: 74vh;
}

.soba-item {
  display: flex;
  width: 100%;
  height: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid darkgray;
  border-radius: 20px;
  cursor: pointer;
}

.soba-opis-div {
  width: 100%;
  padding: 5px;
  position: relative;
}

.soba-opis {
  width: 100%;
}

.soba-opis-opis {
  width: 70%;
  max-height: 70px;
  overflow-y: scroll;
}

.soba-opis-naslov {
  width: 100%;
  text-align: center;
}

.soba-opis-br-osoba {
  text-align: right;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.soba-opis-br-osoba * {
  display: inline;
}

input, select {
  background-color: darkgray;
}

