<div id="wrapper">
  <div id="lijevi-panel">
    <nav class="nav nav-pills nav-fill">
      <a class="nav-link lijevi-panel-button">Pretraga</a>
      <a class="nav-link lijevi-panel-button">Filtriranje</a>
    </nav>
    <div *ngIf="!filtriranjeUpaljeno" id="lijevi-panel-pretraga">
      <label for="datum-prijave" class="form-label">Datum prijave:</label>
      <input type="date" [(ngModel)]="datumPrijave" class="form-control form-control-date mb-2" id="datum-prijave"
             title="Izaberite datum prijave.">

      <label for="datum-odjave" class="form-label">Datum odjave:</label>
      <input type="date" [(ngModel)]="datumOdjave" class="form-control form-control-date mb-2" id="datum-odjave"
             title="Izaberite datum odjave.">

      <label for="broj-odraslih" class="form-label">Broj odraslih:</label>
      <input type="number" [(ngModel)]="brojOdraslih" class="form-control form-control-number mb-2" id="broj-odraslih"
             title="Izaberite broj odraslih osoba.">

      <label for="broj-djece" class="form-label">Broj djece:</label>
      <input type="number" [(ngModel)]="brojDjece" class="form-control form-control-number mb-2" id="broj-djece"
             title="Izaberite broj djece.">

      <div style="display: flex; align-items: center">
        <input type="checkbox" [(ngModel)]="besplatnoOtkazivanje" class="form-check form-check-input form-check-inline"
               id="besplatno-otkazivanje" title="Izaberite broj djece.">
        <label for="besplatno-otkazivanje" class="form-check-label">Besplatno otkazivanje</label>
      </div>
    </div>
    <div *ngIf="filtriranjeUpaljeno" id="lijevi-panel-filtriranje">
      <h5 class="mb-2">Opšti filteri</h5>
      <label for="filter-aranzman" class="form-label">Po aranžmanu:</label>
      <select id="filter-aranzman" class="form-select" title="Izaberite filter po aranžmanu.">
        <option value="0" selected>Bez filtera</option>
        <option value="1">All-inclusive</option>
        <option value="2">Bez aranžmana</option>
        <option value="3">Doručak</option>
        <option value="4">Polu-pansion</option>
        <option value="5">Puni-pansion</option>
      </select>
      <label for="filter-po-cijeni" class="form-label">Po cijeni:</label>
      <select id="filter-po-cijeni" class="form-select" title="Izaberite filter po cijeni.">
        <option value="0" selected>Bez filtera</option>
        <option value="1">Najnižoj</option>
        <option value="2">Najvišoj</option>
      </select>

      <h5 class="mb-2 mt-2">Kreveti</h5>
      <label for="broj-bracnih-kreveta" class="form-label">Broj bračnih kreveta:</label>
      <input type="number" class="form-control form-control-number" id="broj-bracnih-kreveta"
             title="Izaberite broj bračnih kreveta.">
      <label for="broj-obicnih-kreveta" class="form-label">Broj običnih kreveta:</label>
      <input type="number" class="form-control form-control-number" id="broj-obicnih-kreveta"
             title="Izaberite broj običnih kreveta.">
      <label for="broj-pomocnih-kreveta" class="form-label">Broj pomoćnih kreveta:</label>
      <input type="number" class="form-control form-control-number" id="broj-pomocnih-kreveta"
             title="Izaberite broj pomoćnih kreveta.">

      <h5 class="mb-2 mt-2">Ostali filteri</h5>
      <div style="margin-bottom: 5px">
        <input type="checkbox" class="form-check form-check-input form-check-inline" id="filter-besplatno-otkazivanje"
               title="Da li želite besplatno otkazivanje?">
        <label for="filter-besplatno-otkazivanje" class="form-check-label">Besplatno otkazivanje</label>
      </div>
      <div style="display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; gap: 5px">
        <div>
          <input type="checkbox" class="form-check form-check-input form-check-inline" id="klima"
                 title="Da li želite sobu s klimom?">
          <label for="klima" class="form-check-label">Klima</label>
        </div>
        <div>
          <input type="checkbox" class="form-check form-check-input form-check-inline" id="teretana"
                 title="Da li želite sobu s pristupom teretani?">
          <label for="teretana" class="form-check-label">Teretana</label>
        </div>
        <div>
          <input type="checkbox" class="form-check form-check-input form-check-inline" id="bazen"
                 title="Da li želite sobu s pristupom bazenu?">
          <label for="bazen" class="form-check-label">Bazen</label>
        </div>
        <div>
          <input type="checkbox" class="form-check form-check-input form-check-inline" id="spa"
                 title="Da li želite sobu s pristupom spa centru?">
          <label for="spa" class="form-check-label">Spa</label>
        </div>
        <div>
          <input type="checkbox" class="form-check form-check-input form-check-inline" id="balkon"
                 title="Da li želite sobu s pristupom balkonu?">
          <label for="balkon" class="form-check-label">Balkon</label>
        </div>
        <div>
          <input type="checkbox" class="form-check form-check-input form-check-inline" id="dozvoljeni-ljubimci"
                 title="Da li želite sobu u kojoj su dozvoljeni ljubimci?">
          <label for="dozvoljeni-ljubimci" class="form-check-label">Dozvoljeni ljubimci</label>
        </div>
        <div>
          <input type="checkbox" class="form-check form-check-input form-check-inline" id="prilagodjeno-invalidima"
                 title="Da li želite sobu koja je prilagođena invalidima?">
          <label for="prilagodjeno-invalidima" class="form-check-label">Prilagođeno invalidima</label>
        </div>
      </div>
    </div>
  </div>
  <div title="Pogledaj detalje o sobi" id="desni-panel">
    <div *ngFor="let soba of dostupneSobe" (click)="otvoriDetalje(soba.id)" class="soba-item">
      <div class="soba-slika">
        <img ngSrc="{{Slike.getRandomSliku()}}" class="soba-slika-slika" width="220" height="150" alt="">
      </div>
      <div class="soba-opis-div">
        <div>
          <h4 class="p-3 soba-opis-naslov">{{soba.nazivSobe}}</h4>
        </div>
        <div class="soba-opis">
          <h6 class="soba-opis-opis">{{soba.opis}}</h6>
          <div class="soba-opis-br-osoba">
            <h6>{{brojOdraslih}}</h6>
            <h6> odraslih, </h6>
            <h6>{{brojDjece}}</h6>
            <h6> djece</h6>
            <br>
            <h4>54</h4>
            <h4> KM</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
